@model GETApplication.Models.ExamSubjectsStudentsViewModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Update exam</h2>

<div class="card my-5">
    <div class="d-flex justify-content-center p-3 text-left">
        <form>
            <input type="hidden" value="@(Model.Exam.IspitId)" id="examIdEditForm" />
            <div class="form-group">
                <lable class="control-label">Please select Index Number</lable>
                @Html.DropDownList("ddlDropDownList", new SelectList(Model.Students, "BrojIndeksa", "BrojIndeksa", Model.Exam.BrojIndeksa), "--", new { @class = "form-control", @id = "selectedIndexNumberEditForm" })
                <span class="text-danger" id="indexDanger"></span>
            </div>
            <div class="form-group">
                <lable class="control-label">Please select Subject</lable>
                @Html.DropDownList("ddlDropDownList", new SelectList(Model.Subjects, "PredmetId", "Naziv", Model.Exam.PredmetId), "--", new { @class = "form-control", @id = "selectedSubjectIdEditForm" })
                <span class="text-danger" id="subjectDanger"></span>
            </div>
            <div class="form-group">
                <lable class="control-label"></lable>
                <input placeholder="Grade" class="form-control" id="numberGradeEditForm" value="@(Model.Exam.Ocena)" type="number" min="5" max="10" />
                <small class="text-muted">Must be a value between 5-10</small>
            </div>
            <div class="form-group">
                <lable class="control-label"></lable>
                <input type="datetime-local" id="datetimeExamDateEditForm" class="form-control"
                       value="@(Model.Exam.DatumPolaganja.HasValue? Model.Exam.DatumPolaganja.Value.ToString("yyyy-MM-ddTHH:mm:ss"):"<not available>")" />
            </div>
            <div class="form-group text-center">
                <input type="button" value="Save" id="btnUpdateExam" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>
<div>
    <a href="../Index">Back to exams list</a>
</div>
@section scripts{
    <script type="text/javascript" src="~/js/exams/examsedit.js"></script>
}